## 私有包安装地址
# @xxx:registry=http://120.55.182.25:4873/

## 主 npm 包注册表地址
# registry="https://registry.npmmirror.com"

# 主 npm 包注册表地址
registry="http://120.55.182.25:4873/"

# node-sass 二进制文件镜像
sass_binary_site="https://npmmirror.com/mirrors/node-sass/"

# Cypress 测试框架下载镜像
cypress_download_mirror="https://npmmirror.com/mirrors/cypress/"

# PhantomJS 二进制文件下载地址
phantomjs_cdnurl="https://cdn.npmmirror.com/binaries/phantomjs"

# Electron 框架下载镜像
electron_mirror="https://npmmirror.com/mirrors/electron/"

# sqlite3 节点模块二进制文件镜像
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"

# Node.js 性能分析工具二进制镜像
profiler_binary_host_mirror="https://npmmirror.com/mirrors/node-inspector/"

# ChromeDriver 下载镜像
chromedriver_cdnurl="https://cdn.npm.taobao.org/dist/chromedriver"
