{
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-organize-attributes"],
  "attributeGroups": [
    "^is$",
    "^v-for$",
    "^v-if$",
    "^v-else-if$",
    "^v-else$",
    "^v-show$",
    "^v-cloak$",
    "^v-pre$",
    "^v-once$",
    "^id$",
    "^ref$",
    "^key$",
    "^v-model",
    "^name$",
    "^type$",
    "^src$",
    "^href$",
    "^value$",
    "^for$",
    "^title$",
    "^alt$",
    "^role$",
    "^aria-",
    "^class$",
    "^style$",
    "$DEFAULT",
    "^v-on",
    "^@",
    "^v-html$",
    "^v-text$"
  ]
}
