// 全局样式入口文件

// 引入变量
@import "./variables.scss";

// 引入 Mixins
@import "./mixins.scss";

// 全局样式重置
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
}

