// 全局 Sass Mixins

// 清除浮动
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// 文本溢出省略
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本溢出省略
@mixin text-ellipsis-multi($lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 居中布局
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 垂直居中
@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

// 水平居中
@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
}

